# To Predict
Credit Card Fraud Detection model to categorize a transaction as Fraud or Legitimate with very high accuracy using different Machine Learning Models.

## Step0: Importing all the libraries

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Step1: Data Description

In [5]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_card.csv')

In [6]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

## Step3: Data Preprocessing

In [9]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [11]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [12]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [13]:
# statistical measures of the data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [15]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [16]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3009,2557,-0.628458,0.695314,2.580943,0.819375,-0.174091,0.217122,0.157114,0.064317,0.363432,...,0.048774,0.529879,-0.443261,-0.112980,0.422308,-0.102193,0.199298,-0.076206,5.26,0.0
3387,2919,-0.401785,0.627235,1.063639,-2.078735,0.312697,-1.047153,1.061584,-0.275661,0.906977,...,0.082259,0.627519,-0.260301,0.065826,-0.017010,-0.808078,0.252021,-0.018180,1.00,0.0
2996,2549,-0.971650,1.011602,1.911303,-0.272867,0.081522,-0.922228,0.715814,-0.135522,-0.423164,...,-0.176070,-0.745818,-0.151661,0.366912,0.126129,0.049316,-0.297565,0.104088,0.00,0.0
3127,2705,-0.500574,0.638609,2.142909,1.136488,0.477066,0.402103,1.073177,-0.468665,0.007784,...,-0.102252,0.341616,-0.250779,0.219864,-0.060039,-0.323479,-0.595718,-0.584530,17.61,0.0
3966,3609,-0.395749,1.008248,1.282035,0.526221,0.860241,0.317118,0.614105,0.148117,0.340621,...,0.003495,0.274933,-0.170922,-0.348009,0.089969,-0.395030,0.029508,0.000014,3.55,0.0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1484,1158,1.024159,-0.659599,1.162314,0.244697,-1.368166,-0.177201,-0.704552,0.205562,1.021309,...,-0.135463,-0.349356,0.041388,0.595586,0.032333,0.907650,-0.054028,0.016463,75.46,0.0
1043,790,1.238396,0.277071,0.655387,0.695255,-0.619275,-1.174995,0.083622,-0.239306,-0.011586,...,-0.233647,-0.665401,0.174618,0.712588,0.181667,0.073620,-0.027054,0.022733,1.29,0.0
3860,3411,-0.489148,0.503251,1.051952,-2.240221,0.526182,-0.258351,0.857060,0.030542,0.694179,...,0.158526,0.829491,-0.237897,-0.304447,-0.133267,-0.794790,0.262694,-0.032463,1.00,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [20]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1616.441057,-0.327529,0.365287,0.879051,-0.017808,0.070547,0.035935,0.206659,-0.049076,0.072193,...,0.040794,0.031141,-0.087822,-0.064292,-0.007694,0.086459,-0.071113,0.030962,-0.023839,52.845793
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Splitting the data into Features & Targets

In [22]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [23]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
3009  2557 -0.628458  0.695314  2.580943  0.819375 -0.174091  0.217122
3387  2919 -0.401785  0.627235  1.063639 -2.078735  0.312697 -1.047153
2996  2549 -0.971650  1.011602  1.911303 -0.272867  0.081522 -0.922228
3127  2705 -0.500574  0.638609  2.142909  1.136488  0.477066  0.402103
3966  3609 -0.395749  1.008248  1.282035  0.526221  0.860241  0.317118
...    ...       ...       ...       ...       ...       ...       ...
1484  1158  1.024159 -0.659599  1.162314  0.244697 -1.368166 -0.177201
1043   790  1.238396  0.277071  0.655387  0.695255 -0.619275 -1.174995
3860  3411 -0.489148  0.503251  1.051952 -2.240221  0.526182 -0.258351
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
3009  0.157114  0.064317  0.363432  ...  0.260316  0.048774  0.529879
3387  1.061584 -0.275661  0.906977  ... -0.034329  0.082259  0.627519
2996  0.715814 -0.135522 -0.423164  ... -0.098440 -0.176070 -0.745818
3127  1.073177 -0.468665  0.007784  ...  0.064925 -0.102252  0.341616
3966  0.614105  0.148117  0.340621  ... -0.182279  0.003495  0.274933
...        ...       ...       ...  ...       ...       ...       ...
1484 -0.704552  0.205562  1.021309  ...  0.021469 -0.135463 -0.349356
1043  0.083622 -0.239306 -0.011586  ... -0.090381 -0.233647 -0.665401
3860  0.857060  0.030542  0.694179  ... -0.077285  0.158526  0.829491
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
3009 -0.443261 -0.112980  0.422308 -0.102193  0.199298 -0.076206    5.26
3387 -0.260301  0.065826 -0.017010 -0.808078  0.252021 -0.018180    1.00
2996 -0.151661  0.366912  0.126129  0.049316 -0.297565  0.104088    0.00
3127 -0.250779  0.219864 -0.060039 -0.323479 -0.595718 -0.584530   17.61
3966 -0.170922 -0.348009  0.089969 -0.395030  0.029508  0.000014    3.55
...        ...       ...       ...       ...       ...       ...     ...
1484  0.041388  0.595586  0.032333  0.907650 -0.054028  0.016463   75.46
1043  0.174618  0.712588  0.181667  0.073620 -0.027054  0.022733    1.29
3860 -0.237897 -0.304447 -0.133267 -0.794790  0.262694 -0.032463    1.00
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [24]:
print(Y)

3009    0.0
3387    0.0
2996    0.0
3127    0.0
3966    0.0
       ...
1484    0.0
1043    0.0
3860    0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

Split the data into Training data & Testing Data

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [26]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

## Step4: Model Training

Logistic Regression

In [27]:
model = LogisticRegression()

In [28]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Step5: Model Evaluation

Accuracy Score

In [29]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [30]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [31]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  1.0